/*---------------------------- Variables*/
/*Colores*/
$darkBG: #4B6075;
$secondaryColor:#f3702a;
$contrast1:#d34aee;
$contrast2:#03d968;
$contrast3:#24f8fb;
$contrast4:#337ab7;

/*Fonts*/
$titles:'Montserrat', sans-serif;
$paragraph:'Open Sans', sans-serif;
/*-----------------------------Global*/
body{
	font-family: $paragraph;
}
/*Buttons*/
.btn-general{
	border:none;
	border-radius: 3px;
	padding:1% 2%;
	color: #ffffff;
}
.action1{
	background-color: $contrast1;
}
.action2{
	background-color: $secondaryColor;
}
.action3{
	background-color: transparent;
	border-radius: 10px;
	padding:1% 2%;
	border:1px solid #fff;
	font-size: 12px;
	text-transform: uppercase;
}
/*------------------------------Navbar*/
.navbar{
	background-color:transparent !important;
	margin-bottom: 0 !important;
	background-color: $darkBG;
	border-bottom: none;
	a{
		color: #fff !important;
	}
	li:hover{
		background-color: $secondaryColor;
	}
	.navbar-nav>.active>a{
		background-color: $secondaryColor !important;
	}
	.logo{
		max-width: 100px;
	}
}
.secondBG{
	/*background-color: $contrast4 !important;*/
	background-image:linear-gradient(to bottom right,$contrast4,#53cac9);
}
/*-----------------------------Carousel*/
#myCarousel{
	.carousel{
		height: 500px;
	}
	.carousel-inner img{
		width:100%;
		max-height: 500px !important;
	}
	.carousel-caption{
		margin-bottom: 110px;
		z-index: 2;
	}
	.title{
		font-size: 6em;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 1000;
		font-family: $titles;
		font-weight: 700;
		.lightTitle{
			font-family: $paragraph;
			font-weight: 300;
			font-size: 40px;
		}
	}
	.filter{
		position: relative;
	}
	.bg-filter1{
		background-color:rgba(243,112,42,0.57);
		height: 500px;
		position: absolute;
		z-index: 1;
		width: 100%;
	}
	.bg-filter2{
		background-color:rgba(51,122,183,0.57);
		height: 500px;
		position: absolute;
		z-index: 1;
		width: 100%;
	}
}
/*-----------------------------Intro section*/
#intro{
	padding:30px 0px;
	.welcomeImage{
		margin: 0 auto;
		padding: 5%;
	}
	p{
		line-height: 150%;
	}
}
/*-----------------------------Numbers*/
#numbers{
	position: relative;
}
.bg-image2{
	background-image: url(../img/wtcTijuana.jpeg);
	-ms-background-position:center;
	background-position:center;
	background-size: cover;
	width: 100%;
	height:100%;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image:linear-gradient(to bottom right,$contrast3,$secondaryColor);
		opacity: .8; 
	}
	.data{
		text-align: center;
		padding: 3%;
		.category{
			font-family: $paragraph;
			font-weight: 400;
			color: #fff;
			padding-top: 2%;
			font-size: 1.5em;
		}
		.iconData{
			color: #fff;
			i{
				margin-top: 2%;
			}
		}
		.number{
			font-family: $titles;
			font-weight: 400;
			color: #fff;
			font-size:4em;
		}
	}	
}
/*---------------------------Speakers*/
/* Global */
#speakers{
	img{
		max-width:100%;
	}
}
/*-----------------------------Agenda*/
#agenda{
	.tab{
		margin-top: 30px;
	}
	.nav-tabs li{
		width: 50%;
		text-align: center;
	}
	thead tr{
		background-color: $secondaryColor;
		color: #fff;

		th{
			padding: 2%;
		}
	}
	tr{
		background-color: #fff;
		text-transform: uppercase;
		td{
			padding: 2%;
			text-align: left;
		}
	}
}
/*-------------------------------Prices*/
#tickets{
	color:#fff;
	margin-top: 30px;
	position: relative;
	.bg-image3{
		padding-top: 30px;
		padding-bottom: 50px;
		background-image: url(../img/wtcTijuana2.jpeg);
		-ms-background-position:center;
		background-position:center;
		background-size: cover;
		width: 100%;
		height:100%;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image:linear-gradient(to bottom right,$contrast2, $contrast3);
			opacity: .8; 
		}
	}
	.ticketsPrices{
		border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
	}
	.price{
		background-color: $contrast4;
		padding: 5%;
	}
	.titlePrice{
		background-color: $contrast4;
		padding: 5%;
		opacity: 0.6;
	}
	.bold{
		color: #fff;
		font-family: $titles;
		font-size: 2em;
	}
	.description{
		padding: 5%;
		border:1px solid #bdbdbd;
		font-size: 16px;
	}
}
/*Map*/

/*Footer*/
footer{
	background-color: $contrast4;
	padding: 2% 2% 1% 2%;
	color: #fff;
	.socialIcons{
		.fa-circle{
			color: #fff;
		}
		.fa-inverse{
			color: $contrast4;
		}
	}
}